{
    "env": {
        "browser": true,
        "es6": true,
        "jest/globals": true 
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react", "jest"
    ],
    "ignorePatterns": ["build/*"],
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "no-unused-vars": "off"
    }
}