{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "jsx", "c", "graphql", "haskell", "kotlin", "markdown", "php", "java", "python", "tsx", "typescript", "ruby", "yaml", "json"],
          "plugins": ["line-numbers",  "show-language", "normalize-whitespace"],
          "theme": "twilight",
          "css": true
      }]
    ]
  }